body {
    background: rgb(115,207,175);
background: linear-gradient(0deg, rgba(115,207,175,1) 0%, rgba(153,75,113,1) 31%, rgba(110,45,125,1) 62%, rgba(72,41,103,1) 85%, rgba(10,29,79,1) 99%);
    text-align: center;
    background-repeat: no-repeat;
}

#doctor1 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1440px /18 );
    height: 90px;
    background: url(Doctor\ Whooves-boop.png);
    animation: animate 700ms steps(18) infinite;
    margin: -200px 95px -375px 22px;
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 1440px;
    }
}
#spk1 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1440px /18 );
    height: 90px;
    background: url(Sparkly\ Keys\ 🎹-boop.png);
    animation: animate 700ms steps(18) infinite;
    margin: 200px -95px 375px -22px;
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 1440px;
    }
}
#weep1 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1440px /18 );
    height: 90px;
    background: url(weeping\ angle-boop.png);
    animation: animate 700ms steps(18) infinite;
    margin: 400px 48px 365px -44px;
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 1440px;
    }
}
#weep2 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1440px /18 );
    height: 90px;
    background: url(weeping\ angel-boop.png);
    animation: animate 700ms steps(18) infinite;
    margin: -201px 56px 129px -25px;
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 1440px;
    }
}
/* #dalek1 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(64px /4 );
    height: 64px;
    background: url(dalek1.png);
    animation: animate 2s steps(4) infinite;
    margin: 130px, 395px, 24px, 47px;
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 64px;
    }
} */